.axis-label {
  font-size: 12px;
}

.bar-label {
  font-size: 10px;
  text-anchor: middle;
  fill: black;
}

.graphs {
  display: flex;
  padding: 50px;
}

.play-button {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  line-height: 10px;
  border: none;
  cursor: pointer;
  margin: 20px;
  width: 85px;
  height: 35px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin-top: 20px;
}

label {
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 10px;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}