.map {
    height: 600px;
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
}

.range {
    width: 300px;
    height: 15px;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #04AA6D;
}

#year-label {

    display: block;
    text-align: left;
    font-size: 4em;
    color: black;
    font-weight: 400;
    margin-top: 20px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.play-button {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 10px;
    border: none;
    cursor: pointer;
    margin: 20px;
    width: 85px;
    height: 35px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.year-text {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding-right: 20px;
}


.all-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

#info {
    margin-top: 60px;
}

#info p,
h2 {
    text-align: center;
}

.state-name-tooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}