select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

svg {
    display: none;
}

.circle {
    cursor: pointer;
}

#tooltip {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    pointer-events: none;
    position: absolute;
    opacity: 0;
}

label {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.selections {
    margin: 20px;
    padding-top: 20px;
}